html, body {
  height: 100%;
  width: 100%;
}
#replit-badge{
  display: none;
}
/* GLOBAL CSS */
#dt-root {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
p {
    line-height: 2em;
    margin:0;
}
.cols-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    width: 100%;
    flex-basis: 50%;
}
.dt-row {
    padding: 80px 40px;
    width: auto;
    height: auto;
}
#dt-root button:focus {
    display: none;
}
#dt-root button {
    width: 180px;
    height: 50px;
    font-size: 16px;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: .2s;
    color:rgb(2, 2, 2);
    margin-top: 20px;
}
#dt-root button:hover {
    background-color: #303030;
    transition: .2s;
    color: white;
}
#dt-root > h1, h2, h3
{
    margin: 0;
}
#dt-root h1 {
    font-size: 50px;
}
#dt-root h2 {
    font-size: 40px;
}
#dt-root h3 {
    font-size: 30px;
}

/* HEADER CSS */
div.header-row {
    padding: 10px 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.cols-wrapper .banner-image, div.f-bleed .image-content {
    margin:auto;
}
div.header-col {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    flex-flow: row wrap;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: unset;
    color: #303030;
    padding: 0 0 8px 0;
    margin: 0 15px;
}
ul li a:hover {
    border-bottom: #303030 solid 2px;
}
div.image-container img {
    width: 60px;
    height: auto;
}

/* BODY SECTION CSS */
div.dt-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 150px 40px;
}
.banner-text, .banner-image {
    flex-basis: 50%;
}
.banner-text
{
    padding-right: 30px;
    color: white;
}
.banner-text p {
    margin-bottom: 30px;
}
.banner-image img {
    width: 100%;
    height: auto;
}
div.dt-banner button {
    background-color: white;
    transition: .2s;
    color:rgb(2, 2, 2);
    margin-top: 20px;
}
div.dt-banner button:hover {
    background-color: #303030;
    transition: .2s;
    color: white;
}
div.keep-track-content {
    text-align: center;
    padding-top: 30px;
}
div.keep-track-content p {
    padding-top: 20px;
    width: 80%;
    margin:auto;
    margin-top: 0px;
}
div.cols-wrapper .image-content, div.cols-wrapper .text-content {
    width: 50%;
}
div.image-content img {
    width: 100%;
    height: auto;
}
.f-bleed {
    padding: 0px;
}
div.f-bleed .cols-wrapper {
    max-width: 100%;
    padding-top: 30px;
}
div.f-bleed .image-content {
    margin-left: -40px;
}
div.cols-wrapper .dt-text-content {
    max-width: 50%;
    padding-left: 80px;
    margin:auto auto auto 0;
}
div.cols-wrapper .dt-text-content h3:not(:first-child){
    margin-top: 30px;
}
div.access-clipboard-cols {
    text-align: center;
    width: 100%;
}
div.access-clipboard-cols p {
    margin-top: 30px;
}
div.access-clipboard-cols img {
    width: 80%;
    height: auto;
    margin-top: 50px;
}
div.access-clipboard-cols {
    padding-top: 50px;
}
div.dt-row .c-cols-wrapper .dt-cols:nth-child(2) {
    flex-direction: row;
    display: flex;
}
div.dt-cols .dt-c-cols {
    background-color: white;
    margin: 0 15px 0 15px;
    width: 100%;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .0));
    padding: 20px;
    transition: .5s;
}
div.dt-cols .dt-c-cols:hover {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .2));
    transition: .5s;
}
div.dt-row .c-cols-wrapper {
    flex-direction: column;
}
div.dt-cols h2 {
    text-align: center;
    margin-bottom: 50px;
}
div.dt-cols h3 {
    margin-bottom: 10px;

}
div.dt-cols {
    text-align: center;
}
div.m-content .c-dt-row {
    padding-top: 0;
}


/* Footer Css */
div.dt-footer .dt-row {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(2, 2, 2)), url(https://images.unsplash.com/photo-1590608897129-79da98d15969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
div.dt-footer .dt-row h2 {
    margin:0;
}
div.dt-cols-row button {
    margin: 0 15px;
}
div.dt-footer .dt-row > * {
    color: white;
}
div.dt-footer .dt-row p {
    padding: 30px 0 ;
}

/*@media Mobile CSS */
@media only screen and (max-width: 700px) {
    #dt-root h1 {
        font-size: 40px;
    }
    #dt-root h2 {
        font-size: 25px;
    }
    #dt-root h3 {
        font-size: 20px;
    }
    div.header-row {
        padding:10px 15px;
    }
    .cols-wrapper, .dt-cols, .content {
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      box-sizing: border-box;
    }
    div.access-clipboard-cols img, .dt-cols > *, .dt-c-cols > *, div.cols-wrapper .image-content, div.cols-wrapper .text-content, .banner-text, .banner-image {
        width: 100%;
        flex-basis: 100%;
    }
    div.cols-wrapper .dt-text-content {
        padding: 50px 0 0 0;
        max-width: 100%;
    }
    .banner-text, div.access-clipboard-cols :not(:last-child) {
        order:2;
    }
    div.dt-banner {
        padding: 80px 15px;

    }
    .c-dt-row, .dt-row {
        padding: 35px 15px;
        width: auto;
        height: auto;
    }
    div.keep-track-content p {
        margin:0;
        width: 100%;
    }
    div.dt-cols .dt-c-cols {
        background-color: white;
        margin: 0 15px 20px 15px;
        width: 100%;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .2));
        padding: 20px;

    }
    .banner-text {
        padding-right: 0;
    }
    .banner-image, div.image-content, div.dt-cols .dt-c-cols, div.access-clipboard-cols {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    div.access-clipboard-cols {
        padding-top: 0;
    }
    div.access-clipboard-cols img {
        order: 1;
    }
    div.dt-cols h2 {
        margin-bottom: 30px;
        margin-top:30px;
    }

}
@media only screen and (max-width: 812px) and (orientation: landscape) {
    #dt-root h1 {
        font-size: 40px;
    }
    #dt-root h2 {
        font-size: 25px;
    }
    #dt-root h3 {
        font-size: 20px;
    }
    div.header-row {
        padding:10px 15px;
    }
    .cols-wrapper, .dt-cols, .content {
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      box-sizing: border-box;
    }
    div.access-clipboard-cols img, .dt-cols > *, .dt-c-cols > *, div.cols-wrapper .image-content, div.cols-wrapper .text-content, .banner-text, .banner-image {
        width: 100%;
        flex-basis: 100%;
    }
    div.cols-wrapper .dt-text-content {
        padding: 50px 0 0 0;
        max-width: 100%;
    }
    .banner-text, div.access-clipboard-cols :not(:last-child) {
        order:2;
    }
    div.dt-banner {
        padding: 80px 15px;

    }
    .c-dt-row, .dt-row {
        padding: 35px 15px;
        width: auto;
        height: auto;
    }
    div.keep-track-content p {
        margin:0;
        width: 100%;
    }
    div.dt-cols .dt-c-cols {
        background-color: white;
        margin: 0 15px 20px 15px;
        width: 100%;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .2));
        padding: 20px;

    }
    .banner-text {
        padding-right: 0;
    }
    .banner-image, div.image-content, div.dt-cols .dt-c-cols, div.access-clipboard-cols {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    div.access-clipboard-cols {
        padding-top: 0;
    }
    div.access-clipboard-cols img {
        order: 1;
    }
    div.dt-cols h2 {
        margin-bottom: 30px;
        margin-top:30px;
    }
}
/* @media Tablet Css */
@media only screen and (min-width: 700px) and (max-width: 1024px)  {
    div.dt-cols .dt-c-cols {
        background-color: white;
        margin: 0 15px 20px 15px;
        width: 100%;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .2));
        padding: 20px;

    }
}
#dt-root {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin:0 ;
}
p {
    line-height: 2em;
    margin:0;
}
.cols-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.dt-row {
    padding: 80px 40px;
    width: auto;
    height: auto;
}
#dt-root .button:focus {
    display: none;
}
#dt-root .button, div.btn-container .dt-button {
    width: 180px;
    height: 50px;
    font-size: 16px;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
    background-color: #aeaeae;
    transition: .2s;
    color:rgb(2, 2, 2);
    margin-top: 20px;
}
#dt-root .button:hover, div.btn-container .dt-button:hover {
    background-color: #303030;
    transition: .2s;
    color: white;
}
#dt-root > h1, h2, h3
{
    margin: 0;
}
#dt-root h2 {
    font-size: 40px;
}
div.data-preview, div.form-section {
    flex-basis: 50%;
}
div.data-preview {
    background-color: rgb(207, 207, 207);
    height:auto;
    width: 100%;
    padding:50px;
}

/* Calcu Section Css */
div.calcu-section .calcu-container h2 {
    text-align: center;
    margin-bottom: 30px;

}
div.calcu-section .calcu-container {
    width: 100%;
}
div.btn-container button {
    width: 20%;
    height: 100px;
    border-radius: 50%;
    margin: 5px 10px;
    cursor: pointer;
    font-size: 25px;
    transition: .3s;
    color: #5d5d5d;
}
div.btn-container button:hover {
    transform: scale(1.1);
    transition: .3s;
    background-color: #646464;
    color: white;
}
div.btn-container button.equal {
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
}
div.calcu-section .main-container .btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.calcu-section .main-container {
    max-width: 500px ;
    margin:auto;
    flex-wrap: wrap;
    display: flex;
    border: 5px solid #b3b3b3; 
    padding: 30px 30px; 
    border-radius: 20px;  
}
div.main-container .output > input, button:focus {
    outline: none;
}
div.calcu-section .main-container > input, button {
    border: unset;
}

div.calcu-section .main-container .output {
    height: auto;
    text-align: right;
    font-size: 20px;
    width: 100%;
    background-color: #f3f3f3;
    margin-bottom: 15px;
    transition: .3s;
    padding: 20px 15px;

}
div.calcu-section .main-container .output input {
    border: unset;
    background-color: unset;
    font-size: 50px;
    width: 100%;
    height: 50px;
    text-align: right;
    color: #4e4e4e;
}

/* Employee Section CSS */
div.dt-row .cols-wrapper-employee {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    justify-content:center;
}
div.cols-wrapper-employee .my-title {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
div.employee-info-container .employee {
    width: 30%;
    height: auto;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    margin: 15px;
    text-align: center;
}

div.cols-wrapper-employee .info-container{
    width: 100%;
}
div.info-container .employee-info-container {
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    justify-content: center;
}
div.cols-wrapper-employee .btn-container {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}
@media only screen and (max-width: 812px) {
    div.employee-info-container .employee {
        width: 100%;
        flex-wrap: wrap;
    }
    div.cols-wrapper-employee .btn-container{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 812px) and (orientation: landscape) {
    div.employee-info-container .employee {
        width: 100%;
        flex-wrap: wrap;
    }
}
.keep-track-content{
  width:600px;
  margin:auto !important;
}
